*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color:#df89a9;
}

h1{
    background-color: #ad3b64f1;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #4e162ba8;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 60%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;
    /* flex-direction: column; */
}
#user,#comp{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    font-size: 2rem;
    background-color:#ad3b64f1;
    color: #fff;
    /* margin-top: 5rem; */
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}
p{
    color: #731f3e;
}
